<h1>All Clients</h1>

<%= link_to "add a new client", new_client_path %>
<table class="table_display">
		<tr>
			<th>First name</th>
			<th>Last name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @clients.each do |client| %>
		<tr>
			<td><%= client.first_name %></td>
			<td><%= client.last_name %></td>
			<td><%= link_to "select", client_path(client) %></td> 
		</tr>
	</tbody>
	<% end %>
</table>